<launch>

  <arg name="port" default="/dev/ttyACM1"/>
  <arg name="baud" default="57600"/>
  <arg name="run_heartbeat" default="true"/>

  <node if="$(arg run_heartbeat)" name="heartbeat" pkg="yam_firmware" type="heartbeat_node.py">
	<param name="heartbeat_time" value="0.3"/>
  </node>

  <group ns="rosserial">
    <node pkg="rosserial_arduino" type="serial_node.py" name="frontpanel_firmware_rosserial">
      <param name="port" value="$(arg port)"/>
      <param name="baud" value="$(arg baud)"/>
    </node>
  </group>
  
  <node pkg="yam_firmware" type="frontpanel_firmware_driver.py" name="frontpanel_firmware_driver"/>
  
</launch>
